<!-- Tournament Card Component -->
<ion-card [class]="'modern-card ' + CONSTANTS.CSS_CLASSES.TOURNAMENT_CARD">
  <ion-card-content [class]="CONSTANTS.CSS_CLASSES.TOURNAMENT_CONTENT">
    <!-- Tournament Header Section -->
    <div [class]="CONSTANTS.CSS_CLASSES.TOURNAMENT_HEADER">
      <div [class]="CONSTANTS.CSS_CLASSES.TOURNAMENT_INFO">
        <h2 [class]="'text-title ' + CONSTANTS.CSS_CLASSES.TOURNAMENT_NAME">
          {{ tournament.name }}
        </h2>
        <div [class]="CONSTANTS.CSS_CLASSES.TOURNAMENT_META">
          <ion-chip [class]="CONSTANTS.CSS_CLASSES.SPORT_CHIP" color="primary" outline="true">
            <ion-icon [name]="CONSTANTS.ICONS.TROPHY"></ion-icon>
            <ion-label>{{ tournament.sport }}</ion-label>
          </ion-chip>
          <span class="text-caption">
            {{ formatTournamentDate(tournament.startDate) }}
          </span>
        </div>
      </div>
      
      <!-- Action Menu Button -->
      <ion-button 
        [id]="getTournamentMenuId()"
        fill="clear" 
        size="small"
        [class]="CONSTANTS.CSS_CLASSES.MENU_BUTTON"
      >
        <ion-icon [name]="CONSTANTS.ICONS.MENU"></ion-icon>
      </ion-button>
    </div>

    <!-- Matches Section -->
    <div [class]="CONSTANTS.CSS_CLASSES.MATCHES_SECTION">
      <div 
        [class]="CONSTANTS.CSS_CLASSES.MATCHES_HEADER + ' flex-between'" 
        (click)="toggleMatches()"
      >
        <span class="text-subtitle">{{ CONSTANTS.LABELS.MATCHES }}</span>
        <div [class]="CONSTANTS.CSS_CLASSES.HEADER_ACTIONS">
          <ion-badge color="medium">{{ matches.length }}</ion-badge>
          <ion-icon 
            [name]="getExpandIcon()"
            [class]="CONSTANTS.CSS_CLASSES.EXPAND_ICON"
          >
          </ion-icon>
        </div>
      </div>
      
      <!-- Expanded Matches Content -->
      @if (isMatchesExpanded) {
        @if (hasMatches()) {
          <div [class]="CONSTANTS.CSS_CLASSES.MATCHES_GRID">
            @for (match of getPreviewMatches(); track $index) {
              <div 
                [class]="CONSTANTS.CSS_CLASSES.MATCH_CARD" 
                (click)="onMatchClick(match.id!)"
              >
                <div [class]="CONSTANTS.CSS_CLASSES.MATCH_TEAMS">
                  <!-- Team 1 -->
                  <div [class]="CONSTANTS.CSS_CLASSES.TEAM">
                    <ion-avatar 
                      [class]="CONSTANTS.CSS_CLASSES.TEAM_AVATAR + ' modern-avatar'"
                    >
                      <img 
                        [src]="getTeamPlayerPhoto(match, 1)" 
                        [alt]="match.team1Name" 
                      />
                    </ion-avatar>
                    <span [class]="CONSTANTS.CSS_CLASSES.TEAM_NAME">
                      {{ getShortTeamName(match.team1Name) }}
                    </span>
                  </div>
                  
                  <!-- VS Separator -->
                  <div [class]="CONSTANTS.CSS_CLASSES.VS_SEPARATOR">
                    <span [class]="CONSTANTS.CSS_CLASSES.VS_TEXT">
                      {{ CONSTANTS.LABELS.VS }}
                    </span>
                  </div>
                  
                  <!-- Team 2 -->
                  <div [class]="CONSTANTS.CSS_CLASSES.TEAM">
                    <span [class]="CONSTANTS.CSS_CLASSES.TEAM_NAME">
                      {{ getShortTeamName(match.team2Name) }}
                    </span>
                    <ion-avatar 
                      [class]="CONSTANTS.CSS_CLASSES.TEAM_AVATAR + ' modern-avatar'"
                    >
                      <img 
                        [src]="getTeamPlayerPhoto(match, 2)" 
                        [alt]="match.team2Name" 
                      />
                    </ion-avatar>
                  </div>
                </div>
                
                <!-- Match Status -->
                <div [class]="CONSTANTS.CSS_CLASSES.MATCH_STATUS">
                  <span 
                    [class]="CONSTANTS.CSS_CLASSES.STATUS_BADGE" 
                    [ngClass]="getStatusClass(match.status)"
                  >
                    {{ getStatusText(match.status) }}
                  </span>
                </div>
              </div>
            }
            
            <!-- More Matches Indicator -->
            @if (hasMoreMatches()) {
              <div [class]="CONSTANTS.CSS_CLASSES.MORE_MATCHES">
                <ion-button fill="clear" size="small" [class]="CONSTANTS.CSS_CLASSES.VIEW_ALL_BTN">
                  <ion-icon [name]="CONSTANTS.ICONS.ADD"></ion-icon>
                  <ion-label>{{ getMoreMatchesText() }}</ion-label>
                </ion-button>
              </div>
            }
          </div>
        } 
        <!-- No Matches State -->
        @else {
          <div [class]="CONSTANTS.CSS_CLASSES.NO_MATCHES">
            <ion-icon 
              [name]="CONSTANTS.ICONS.CALENDAR" 
              [class]="CONSTANTS.CSS_CLASSES.NO_MATCHES_ICON"
            ></ion-icon>
            <span class="text-body">{{ CONSTANTS.LABELS.NO_MATCHES }}</span>
          </div>
        }
      }
    </div>

    <!-- Registration Status -->
    @if (isRegistrationOpen()) {
      <div [class]="CONSTANTS.CSS_CLASSES.REGISTRATION_STATUS">
        <ion-chip color="success" [class]="CONSTANTS.CSS_CLASSES.REGISTRATION_CHIP">
          <ion-icon [name]="CONSTANTS.ICONS.CHECKMARK_CIRCLE"></ion-icon>
          <ion-label>{{ CONSTANTS.LABELS.REGISTRATION_OPEN }}</ion-label>
        </ion-chip>
      </div>
    }
  </ion-card-content>

  <!-- Action Menu Popover -->
  <ion-popover [trigger]="getTournamentMenuId()" [dismissOnSelect]="true">
    <ng-template>
      <ion-content [class]="CONSTANTS.CSS_CLASSES.POPOVER_CONTENT">
        <ion-list [class]="CONSTANTS.CSS_CLASSES.ACTION_LIST">
          <!-- View Actions -->
          @if (canView) {
            <ion-item button (click)="navigateToScoreboard()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.STATS_CHART" 
                color="primary"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.SCOREBOARD }}</ion-label>
            </ion-item>
            <ion-item button (click)="navigateToKnockout()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.TROPHY" 
                color="warning"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.KNOCKOUT }}</ion-label>
            </ion-item>
          }
          
          <!-- Edit Actions -->
          @if (canEdit) {
            <ion-item button (click)="onEdit()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.CREATE" 
                color="medium"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.EDIT_TOURNAMENT }}</ion-label>
            </ion-item>
            <ion-item button (click)="onPrintQR()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.QR_CODE" 
                color="dark"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.PRINT_QR }}</ion-label>
            </ion-item>
          }
          
          <!-- Management Actions -->
          @if (canManageRegistration) {
            <ion-item button (click)="onToggleRegistration()">
              <ion-icon 
                slot="start" 
                [name]="getRegistrationToggleIcon()"
                [color]="getRegistrationToggleColor()"
              ></ion-icon>
              <ion-label>{{ getRegistrationToggleText() }}</ion-label>
            </ion-item>
            <ion-item button (click)="onManageTeams()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.PEOPLE" 
                color="tertiary"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.MANAGE_TEAMS }}</ion-label>
            </ion-item>
          }
          
          <!-- Player Actions -->
          @if (canRegisterAsPlayer) {
            <ion-item button (click)="onRegisterAsPlayer()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.PERSON_ADD" 
                color="success"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.REGISTER_AS_PLAYER }}</ion-label>
            </ion-item>
          }
          
          <!-- Access Request Actions -->
          @if (canAskEdit) {
            <ion-item button (click)="onAskEdit()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.MAIL" 
                color="secondary"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.REQUEST_EDIT_ACCESS }}</ion-label>
            </ion-item>
          }
          
          <!-- Admin Actions -->
          @if (canDelete) {
            <ion-item button (click)="openEditorsModal()">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.PEOPLE_CIRCLE" 
                color="medium"
              ></ion-icon>
              <ion-label>{{ CONSTANTS.ACTIONS.MANAGE_EDITORS }}</ion-label>
            </ion-item>
            <ion-item button (click)="onDelete()" [class]="CONSTANTS.CSS_CLASSES.DELETE_ITEM">
              <ion-icon 
                slot="start" 
                [name]="CONSTANTS.ICONS.TRASH" 
                color="danger"
              ></ion-icon>
              <ion-label color="danger">{{ CONSTANTS.ACTIONS.DELETE_TOURNAMENT }}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <!-- Editors Management Modal -->
  <ion-modal #editorsListModal [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{ CONSTANTS.LABELS.TOURNAMENT_EDITORS }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="editorsListModal.dismiss()">
              <ion-icon [name]="CONSTANTS.ICONS.CLOSE"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content [class]="CONSTANTS.CSS_CLASSES.EDITORS_CONTENT">
        <!-- No Editors State -->
        @if (hasNoEditors()) {
          <div [class]="CONSTANTS.CSS_CLASSES.EMPTY_STATE">
            <ion-icon 
              [name]="CONSTANTS.ICONS.PEOPLE" 
              [class]="CONSTANTS.CSS_CLASSES.EMPTY_ICON"
            ></ion-icon>
            <h3>{{ CONSTANTS.LABELS.NO_EDITORS }}</h3>
            <p>{{ CONSTANTS.LABELS.NO_EDITORS_MESSAGE }}</p>
          </div>
        } 
        <!-- Editors List -->
        @else {
          <ion-list [class]="CONSTANTS.CSS_CLASSES.EDITORS_LIST">
            @for (editor of tournament.editors; track $index) {
              <ion-item-sliding #slidingRef>
                <ion-item [class]="CONSTANTS.CSS_CLASSES.EDITOR_ITEM">
                  <ion-avatar slot="start" class="modern-avatar">
                    <img [src]="getAvatarUrl(editor)" [alt]="editor.displayName">
                  </ion-avatar>
                  <ion-label>
                    <h2 [class]="CONSTANTS.CSS_CLASSES.EDITOR_NAME">
                      {{ editor.displayName }}
                    </h2>
                    <p [class]="CONSTANTS.CSS_CLASSES.EDITOR_EMAIL">
                      {{ editor.email }}
                    </p>
                    @if (isEditorApproved(editor)) {
                      <ion-chip color="success" [class]="CONSTANTS.CSS_CLASSES.APPROVAL_CHIP">
                        <ion-icon [name]="CONSTANTS.ICONS.CHECKMARK"></ion-icon>
                        <ion-label>{{ CONSTANTS.LABELS.APPROVED }}</ion-label>
                      </ion-chip>
                    } @else {
                      <ion-chip color="warning" [class]="CONSTANTS.CSS_CLASSES.APPROVAL_CHIP">
                        <ion-icon [name]="CONSTANTS.ICONS.TIME"></ion-icon>
                        <ion-label>{{ CONSTANTS.LABELS.PENDING }}</ion-label>
                      </ion-chip>
                    }
                  </ion-label>
                </ion-item>
                
                <!-- Editor Actions -->
                @if (canManageEditor(editor)) {
                  <ion-item-options side="end">
                    @if (canApproveEditor(editor)) {
                      <ion-item-option 
                        color="success" 
                        (click)="slidingRef.close();onApproveEditAccess(editor.email)"
                      >
                        <ion-icon [name]="CONSTANTS.ICONS.CHECKMARK"></ion-icon>
                        {{ CONSTANTS.LABELS.APPROVE }}
                      </ion-item-option>
                    }
                    <ion-item-option 
                      color="danger" 
                      (click)="slidingRef.close();onRemoveEditor(editor.email)"
                    >
                      <ion-icon [name]="CONSTANTS.ICONS.TRASH"></ion-icon>
                      {{ CONSTANTS.LABELS.REMOVE }}
                    </ion-item-option>
                  </ion-item-options>
                }
              </ion-item-sliding>
            }
          </ion-list>
        }
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-card>