<ion-buttons class="ion-justify-content-between">
  @if (status === statusTypes.PENDING) {
    <ion-button color="success" (click)="onStart()">
      Start
    </ion-button>
  } @if (status === statusTypes.STARTED) {
    <ion-button color="medium" (click)="onPause()">
      Pause
    </ion-button>
    <ion-button fill="clear" color="danger" (click)="onStop()">
      End
    </ion-button>
  } @if (status === statusTypes.PAUSED) {
    <ion-button fill="clear" color="success" (click)="onStart()">
      Resume
    </ion-button>
    <ion-button fill="clear" color="danger" (click)="onStop()">
      End
    </ion-button>
  } @if (status !== statusTypes.PENDING) {
    <ion-button fill="clear" color="secondary" (click)="onReset()">
      Reset
    </ion-button>
  }
</ion-buttons>