<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tournaments"></ion-back-button>
    </ion-buttons>
    <ion-title>Player Register</ion-title>
  </ion-toolbar>
</ion-header>
<!-- prettier-ignore -->
<ion-content color="light">

  <ion-segment
      [(ngModel)]="selectedTab"
      name="selectedTab"
      (ngModelChange)="searchText = ''"
      class="header-segment"
      color="primary"
      style="margin: 8px"
      mode="ios"
    >
      <ion-segment-button value="registrations">
        <div
          style="
            display: flex;
            justify-items: center;
            align-items: center;
            padding: 12px 0;
          "
        >
          <ion-label><h2>Registrations</h2></ion-label>
          <ion-badge
            color="tertiary"
            style="margin-left: 8px; margin-top: -12px"
            >{{ registrations.length }}</ion-badge
          >
        </div>
      </ion-segment-button>
      <ion-segment-button value="teams">
        <div
          style="
            display: flex;
            justify-items: center;
            align-items: center;
            padding: 12px 0;
          "
        >
          <ion-label><h2>Teams</h2></ion-label>
          <ion-badge
            color="tertiary"
            style="margin-left: 8px; margin-top: -12px"
            >{{ teams.length }}</ion-badge
          >
        </div>
      </ion-segment-button>
  </ion-segment>

  <!-- ************************************** registrations ************************************** -->
  @if (selectedTab === 'registrations') {
    @if (registrations.length > 0 && selectedTab === 'registrations') {
      <ion-searchbar
        [(ngModel)]="searchText"
        name="searchText"
        
        placeholder="Search players by name or email"
        show-clear-button="focus"
        class="search-bar"
      ></ion-searchbar>
    }
  
    @if (filteredRegistrations.length === 0 && searchText) {
      <ion-text class="ion-margin-top">
        <h5 style="text-align: center;"> <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text> No players found matching "{{ searchText }}" <ion-icon color="danger" name="search-outline" class="empty-icon"></ion-icon></h5>
      </ion-text>
    } @else if (registrations.length === 0) {
      <ion-text class="ion-margin-top">
        <h5 style="text-align: center;"> <ion-text color="danger"><ion-icon name="person-outline" style="margin-right: 10px;"></ion-icon></ion-text>No registration requests yet</h5>
      </ion-text>
    } @else {
      <ion-list [inset]="true" lines="full">
        @for (registration of filteredRegistrations; track registration.id){
        <ion-item-sliding #slidingItem>
            <ion-item [button]="true" detail="false">
              <div class="unread-indicator-wrapper" slot="start">
                <ion-avatar class="player-avatar" style="width: 32px; height: 32px; ">
                <img [src]="registration.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'" [alt]="registration.name" />
              </ion-avatar>
              </div>
              <ion-label>
                <strong>{{ registration.name }}</strong>
                <ion-text>{{ registration.email }}</ion-text><br />
                <ion-text style="display: flex;justify-content: flex-start;align-items: center;margin-top: 4px;"> {{ registration.gender }} </ion-text>
                @if (registration.remarks) {
                  <ion-note color="medium" class="ion-text-wrap">{{ registration.remarks }} </ion-note>
                }
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium"><ion-chip [color]="getStatusColor(registration.status)" class="status-chip" > <ion-icon [name]="getStatusIcon(registration.status)" ></ion-icon> <ion-label>{{ registration.status | titlecase }}</ion-label> </ion-chip></ion-note>
              </div>
            </ion-item>
            @if (canEdit) {
              <ion-item-options>
                @if (registration.status === 'pending') {
                  <ion-item-option (click)="slidingItem.close();approveRegistration(registration)" color="success"> 
                    <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
                    Approve
                  </ion-item-option>
                  <ion-item-option (click)="slidingItem.close();rejectRegistration(registration)" color="warning"> 
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                    Reject
                  </ion-item-option>
                }
                <ion-item-option (click)="slidingItem.close();deleteRegistration(registration)" color="danger"> 
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  Delete
                </ion-item-option>
              </ion-item-options>
            }
        </ion-item-sliding>
        }
      </ion-list>
    }
  }
  <!-- ************************************** registrations ************************************** -->
  
  <!-- ************************************** Teams ************************************** -->
  @if (selectedTab === 'teams') {
    @if (teams.length > 0 && selectedTab === 'teams') {
      <ion-searchbar
        [(ngModel)]="searchText"
        name="searchText"
        placeholder="Search teams by name"
        show-clear-button="focus"
        class="search-bar"
      ></ion-searchbar>
    }
  
    @if (filteredTeams.length === 0 && searchText) {
      <ion-text class="ion-margin-top">
        <h5 style="text-align: center;"> <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text> No players found matching "{{ searchText }}" <ion-icon color="danger" name="search-outline" class="empty-icon"></ion-icon></h5>
      </ion-text>
    } @else if (teams.length === 0) {
      <ion-text class="ion-margin-top">
        <h5 style="text-align: center;"> <ion-text color="danger"><ion-icon name="person-outline" style="margin-right: 10px;"></ion-icon></ion-text>No registration requests yet</h5>
      </ion-text>
    } @else {
      <ion-list [inset]="true" lines="full">
        @for (team of filteredTeams; track team.id){
          <ion-item-sliding #slidingItem>
            <ion-item [button]="true" detail="false">
              <ion-label>
                <strong style="font-size: 0.9rem;margin-bottom: 10px;">Team : {{ team.name }}</strong>
                <ion-text color="primary">
                    <ion-label >{{ team.players.length }} {{ team.players.length === 1 ? 'player' : 'players' }}</ion-label >
                </ion-text>
                @if (team.players.length > 0) {
                  <ion-note>
                    <span class="players-text">Players: </span>                    
                    @for (player of team.players.slice(0, 2); track player.userId; let isLast = $last) {
                      <span class="player-name" >{{ player.name }}{{ !isLast && team.players.length > 1 ? ', ' : '' }}</span >
                    } @if (team.players.length > 2) {
                      <span class="more-players"> +{{ team.players.length - 2 }} more</span >
                    }
                  </ion-note>
                }
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">
                  @if (team.players.length > 0) {
                    <ion-chip color="success" class="detail-chip">
                      <ion-icon name="checkmark-circle-outline"></ion-icon>
                      <ion-label>Active</ion-label>
                    </ion-chip>
                  } @else {
                    <ion-chip color="warning" class="detail-chip">
                      <ion-icon name="time-outline"></ion-icon>
                      <ion-label>Empty</ion-label>
                    </ion-chip>
                  }
                </ion-note>
                <ion-icon color="medium" name="chevron-forward"></ion-icon>
              </div>
            </ion-item>
            @if (canEdit) {
              <ion-item-options>
                  <ion-item-option (click)="slidingItem.close();openTeamModal(team)" color="success"> 
                    <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
                    Edit Team
                  </ion-item-option>
                  <ion-item-option (click)="slidingItem.close();deleteTeam(team)" color="warning"> 
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                    Delete Team
                  </ion-item-option>
              </ion-item-options>
            }
          </ion-item-sliding>
        }
      </ion-list>
    }

    @if (canEdit) {
      <ion-button
        (click)="openTeamModal()"
        color="primary"
        size="default"
        expand="block"
        class="add-team-button ion-margin-top"
      >
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Add Team
      </ion-button>
      }
  }
  <!-- ************************************** Teams ************************************** -->


  <!-- Team Modal -->
  <ion-modal
    [isOpen]="showTeamModal"
    (didDismiss)="showTeamModal = false"
    class="team-modal"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            <ion-icon
              name="{{ editingTeam ? 'create-outline' : 'add-outline' }}"
              style="margin-right: 8px; vertical-align: middle"
            ></ion-icon>
            {{ editingTeam ? 'Edit Team' : 'Create Team' }}
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="showTeamModal = false">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="modal-content">
        <div class="modal-container ion-padding">
          <form #teamForm="ngForm" (ngSubmit)="saveTeam()">
            <!-- Team Name Input -->
                <ion-input
                fill="outline"
                  [(ngModel)]="currentTeam.name"
                  label="Team Name"
                  name="teamName"
                  required
                  label-placement="floating"
          class="ion-margin-bottom ion-margin-top"
                  floo
                  placeholder="Enter team name"
                  maxlength="50"
                ></ion-input>
            <!-- Player Selection -->
            
            @if (availableRegistrations.length > 0) {
              <h3 class="section-subtitle">
                <ion-icon
                  name="person-outline"
                  class="subtitle-icon"
                ></ion-icon>
                Select Players
              </h3>
            }

              @if (availableRegistrations.length === 0) {
              <div class="empty-state small">
                <ion-text class="ion-margin-top">
                  <h5 style="text-align: center;"> 
                    <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text> 
                     No available players, All approved players are already assigned to teams
                  </h5>
                </ion-text>
              </div>
              } @else {
              <ion-list class="player-selection-list ion-margin-top">
                @for (registration of availableRegistrations; track
                registration.id) {
                <ion-item (click)="onPlayerSelectionChange(registration, !selectCheckRef.checked)" class="player-selection-item"  [button]="true" detail="false" lines="full">
                  <ion-checkbox
                    slot="end"
                    #selectCheckRef
                    [checked]="isPlayerSelected(registration)"
                    color="primary"
                    style="pointer-events: none;"
                  ></ion-checkbox>

                  <div class="unread-indicator-wrapper" slot="start">
                      <ion-avatar class="player-avatar" style="width: 32px; height: 32px; ">
                          <img [src]="registration.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'" [alt]="registration.name" />
                      </ion-avatar>
                  </div>
              <ion-label>
                <strong>{{ registration.name }}</strong>
                <ion-text>{{ registration.email }}</ion-text><br />
                <ion-text style="display: flex;justify-content: flex-start;align-items: center;margin-top: 4px;"> {{ registration.gender }} </ion-text>
                @if (registration.remarks) {
                  <ion-note color="medium" class="ion-text-wrap">{{ registration.remarks }} </ion-note>
                }
              </ion-label>
            
                </ion-item>
                }
              </ion-list>
              }
           

            <!-- Action Buttons -->
            <div class="modal-actions">
              <div
          class="ion-margin-top"
          style="
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: space-between;
          "
        >
              <ion-button
                type="submit"
                [disabled]="!teamForm.valid"
                color="primary"
                class="save-button"
              >
                <ion-icon
                  name="{{ editingTeam ? 'checkmark-outline' : 'add-outline' }}"
                  slot="start"
                ></ion-icon>
                {{ editingTeam ? 'Update Team' : 'Create Team' }}
              </ion-button>

              <ion-button
                fill="outline"
                color="dark"
                (click)="showTeamModal = false"
                class="cancel-button"
              >
                Cancel
              </ion-button>
              </div>
            </div>
          </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
