<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tournaments"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Edit' : 'Add' }} Tournament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <app-basic-details-step
    [tournament]="tournament"
    [sports]="sports"
    (tournamentChange)="tournament = $event">
  </app-basic-details-step>

  <!-- Navigation Buttons -->
  <div class="step-navigation">
    <ion-button color="success" [disabled]="!canProceed()" (click)="submitTournament()">
      {{ isEdit ? 'Update' : 'Create' }} Tournament
    </ion-button>
    <ion-button fill="outline" color="medium" (click)="cancel()">
      Cancel
    </ion-button>
  </div>




</ion-content>
