<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>      
    <ion-title>Manage Tournaments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (tournament of tournaments$ | async; track tournament.id) {
    <app-tournament-card
      [tournament]="tournament"
      (edit)="editTournament($event)"
      (delete)="deleteTournament($event.id, $event.name)"
      (removeEditAccess)="removeEditAccess($event.id, $event.tournament, $event.email)"
      (approveEditAccess)="approveEditAccess($event.id, $event.tournament, $event.email)"
      (askEdit)="askEditTournament($event.id, $event.tournament, $event.email, $event.displayName, $event.photoURL)">
    </app-tournament-card>
    }
  </ion-list>

  @if (canCreateTournament) {
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addTournament()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }

  <!-- @if (canCreateTournament) {
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="secondary" (click)="createMockData()">
      <ion-icon name="flask-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  } -->
</ion-content>
