<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          @if (user$ | async; as user) {
          <ion-list-header>
            <div
              style="
                font-size: 16px;
                display: flex;
                margin-bottom: 14px;
                border-bottom: 1px solid var(--ion-color-primary);
                padding-bottom: 8px;
                flex-direction: column;
                width: 100%;
                align-items: center;
              "
            >
              @if (user.photoURL) {
              <ion-avatar class="ion-margin-end">
                <img [src]="user.photoURL" alt="Profile" />
              </ion-avatar>
              }

              <ion-text class="ion-no-margin">
                <h2 class="ion-no-margin">
                  {{ user.displayName | titlecase }}
                </h2>
              </ion-text>
              <ion-note
                style="margin-bottom: 0"
                color="tertiary"
                class="ion-no-margin"
              >
                {{ user.email }}
              </ion-note>
              <ion-button fill="clear" (click)="logout()">Logout</ion-button>
            </div>
          </ion-list-header>
          } @else {

          <div
            style="
              font-size: 16px;
              display: flex;
              margin-bottom: 14px;
              border-bottom: 1px solid var(--ion-color-primary);
              padding-bottom: 8px;
              flex-direction: column;
              width: 100%;
              align-items: center;
            "
          >
            <ion-text class="ion-no-margin">
              <h2 class="ion-no-margin">Welcome, Guest!</h2>
            </ion-text>
            <ion-note
              style="margin-bottom: 0"
              color="tertiary"
              class="ion-no-margin"
            >
              Please log in to access more features.
            </ion-note>
            <ion-button fill="clear" routerLink="/login"> Login </ion-button>
          </div>
          } @for (p of appPages; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          @for (label of labels; track label) {
          <ion-item lines="none">
            <ion-icon
              aria-hidden="true"
              slot="start"
              ios="bookmark-outline"
              md="bookmark-sharp"
            ></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
