<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tournaments"></ion-back-button>
    </ion-buttons>
    <ion-title>Player Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Player Register for</ion-card-title>
      <ion-card-title style="text-align: center;">{{ tournamentName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #playerForm="ngForm" (ngSubmit)="registerPlayer()">
        <ion-input
          label="Player Name *"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="playerData.name"
          name="playerName"
          class="ion-margin-bottom ion-margin-top"
          required
        ></ion-input>

        <ion-select
          label="Gender *"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="playerData.gender"
          class="ion-margin-bottom"
          name="playerGender"
          required
        >
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>

        <ion-textarea
          label="Remarks"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="playerData.remarks"
          class="ion-margin-bottom"
          name="playerRemarks"
          rows="3"
          placeholder="Any additional information..."
        ></ion-textarea>

        <div
          class="ion-margin-top"
          style="
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: space-between;
          "
        >
          <ion-button
            type="submit"
            color="primary"
            [disabled]="!playerForm.valid"
          >
            Register
          </ion-button>
          <ion-button color="dark" (click)="cancel()"> Cancel </ion-button>
        </div>
      </form>
      <ng-content></ng-content>
    </ion-card-content>
  </ion-card>
</ion-content>
